.overhead {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.info-bar {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  padding: 6px 0;
  text-align: center;
}
.info-bar span {
  flex: 1;
  padding: 0 6px;
}
.loader-box {
  align-items: center;
  background: #2f3136;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  transition: opacity .8s ease-in-out;
}
.loader {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  width: 60%;
}
.loader-info {
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
  margin-bottom: 20px;
}
.load-prog {
  background: #7289da;
  height: 40px;
  width: 0;
}
.gl-lnk {
  display: inline-block;
  padding: 2px 10px 0 0;
  pointer-events: all;
}
.gl-lnk img {
  width: 22px;
}
#network {
  background: #2f3136;
  height: 100vh;
}
